---
import '../assets/main.css';
--- 
<div class="aboutServicesContainer">
    <div class="aboutServices">
            <div class="aboutServicesContent">
                <div class="aboutServicesList">
                    <div class="aboutServicesItem">
                        <div class="aboutServicesItemImage">
                        <img src="/images/wifi.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        WIFI
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/clim.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        CLIMATISATION
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/water.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        CITERNE D'EAU
                    </p>
                    </div>
                </div>
                <div class="aboutServicesList">
                <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/car.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        PARKING
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/yard.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        JARDIN & TERRASSSE
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/bebechambre.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        LIT BÉBÉ
                    </p>
                    </div>
                </div>
                <div class="aboutServicesList">
                <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/lavelinge.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        LAVE-LINGE
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/tv.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        TV
                    </p>
                    </div>
                    <div class="aboutServicesItem">
                    <div class="aboutServicesItemImage">
                        <img src="/images/cafe.svg" alt="About" height={30} width={30} />
                    </div>
                    <p>
                        MACHINE À CAFÉ
                    </p>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>

</div>