 ---
import '../assets/main.css';
--- 
 <div class="cardText">
            <div class="cardContainer">
              <div class="card">
                <div class="cardImage">
                  <img src="/images/person.svg" alt="4-6 personnes" class="icon" />
                </div>
                <p>4-6</p>
                <p>VOYAGEURS</p>
              </div>
              <div class="card">
                <div class="cardImage">
                  <img src="/images/bed.svg" alt="deux chambres" class="icon" />
                </div>
                <p>2</p>
                <p>CHAMBRES</p> 
              </div>
              <div class="card">
                <div class="cardImage">
                  <img src="/images/shower.svg" alt="douche" class="icon" />
                </div>
                <p>1</p>
                <p>SDB</p>
              </div>