---
import '../assets/main.css';
--- 

<div class="aboutText">
            <h3 class="playfairDisplay"><span class="capitalize">B</span>ienvenue à la Villa des K&apos;ribean,</h3>
            <p class="playfairDisplay">Une retraite d&apos;exception au cœur d&apos;un environnement paisible.<br/>
            Nos deux chambres, la salle de bain moderne et le jardin vous garantissent tout le confort nécessaire pour un séjour mémorable. <br/><br/>
            Venez explorer notre havre de paix, où le confort contemporain et la chaleur humaine se combinent pour offrir une expérience d&apos;hébergement inoubliable.
            </p>
 </div>