---
import '../assets/main.css';
import AboutCard from './AboutCard.astro';
import AboutService from './AboutService.astro';
--- 
<div class="aboutInfo hideBelow1504px">
    <AboutCard />
    <AboutService />
</div>