---
// Import des styles CSS
import '../assets/main.css';
// Import des composants React
import Caroussel from './Caroussel.jsx';
import ButtonReservationBlack from './ButtonReservationBlack.jsx';
import AboutService from './AboutService.astro';
import AboutText from './AboutText.astro';
import AboutCard from './AboutCard.astro';
import Around from './Around.astro';
---

<section class="aboutSection" id="about">
  <div class="aboutContainer">
    <div class="aboutCarousel">
       <Caroussel client:only/>
    </div>
    <div class="aboutTextContainer">
       <AboutText /> 
      <AboutCard />
      <AboutService class="hide1504px"/>
    </div>
  </div> 
    
    
    <div class="reservation" id="reservation">
      <div class="reservationContent">
        <ButtonReservationBlack/>
      </div>
    </div>
    <Around />
    </section>
</code_block_to_apply_changes_from>