---
import '../assets/main.css';
import AroundCard from './AroundCard.jsx';
--- 
 <div class="around">
        <div class="aroundContainer">
          <div class="aroundTitle">
            <h3 class="playfairDisplay"><span class="capitalize">V</span>isitez la Guadeloupe</h3>
          </div>
          <div class="aroundCards">
            <AroundCard link="https://fr.guadeloupe-tourisme.com/100/plage-des-alizes-le-moule/" image="/images/beach.jpg" text="La plage des Alizés, idéale pour petits et grands : baignade paisible, jeux sur le sable et couchers de soleil magiques." distance="2,6km" title="Plage des Alizées" />
            <AroundCard link="https://rhum-damoiseau.com/" image="/images/decouverte.jpg" text="Partez à la rencontre du rhum local : distillerie traditionnelle, parfums envoûtants et savoir-faire créole à découvrir absolument." distance="3km" title="Distillerie Damoiseau" />
            <AroundCard link="https://www.tripadvisor.fr/Attraction_Review-g147305-d148906-Reviews-Cascade_aux_Ecrevisses-Parc_National_Basse_Terre_Island_Guadeloupe.html" image="/images/aventure.jpg" text="Plongez au cœur de la forêt tropicale : la cascade des Écrevisses vous offre fraîcheur, beauté sauvage et sérénité pure." distance="50km" title="Cascade des écrevisses"/>
          </div>
        </div>
      </div>