---
import '../assets/main.css';
---

<section class="locationSection" id="location">
    <div class="locationContainer">
        <!-- <div class="locationTitle">
            <h3 class="playfairDisplay"><span class="capitalize">L</span>ocalisation</h3>
        </div> -->
        <div class="locationContent">
            <img src="/images/map.png" alt="Map Le Moule Guadeloupe" class="locationImage" />
        </div>
    </div>
</section>

