.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}


.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.backgroundImage {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.heroArrowTitleContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 4fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem;

}
.heroTitlesContainer {

  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0;
  
  
}
.heroTitleContainer {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.heroTitle {
  font-size: 64px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.8s ease-in-out;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 40%;
}
.heroSubtitleContainer {
  margin-bottom: 10%;
  align-self: flex-end;
  
}

.heroSubtitle {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition: all 0.8s ease-in-out;
}

.heroArrow {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
}

.heroArrow:hover {
  transform: translate(0%, 50%);
  transition: transform 0.3s ease;
  cursor: default;
}

@media (max-width: 1660px) {
  .heroTitlesContainer {

    grid-column: 2 / 4;
    padding-left: 0;
  }
}
@media (max-width: 1500px) {
  /* .heroArrow{
    fill: #000000;
    filter: brightness(0);
    transition: all 0.8s ease-in-out;
  } */
}
@media (max-width: 1270px) {

   .heroTitlesContainer{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    padding: 0 !important;
   }

   .heroTitleContainer{
    height: 40%;
    justify-content: center;
   }
   .heroSubtitleContainer{
    align-self: center;
    justify-self: center;
   }
   .heroArrow{
    display: none;
   }
}
@media (max-width: 860px) {
  .hero {
    height: 100vh;
    width: 100%;
  }

  .backgroundVideo {
    display: none;
  }

  .backgroundImage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .heroArrowTitleContainer {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 2fr 2fr 4fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .heroTitlesContainer {
    align-items: flex-start;
    justify-content: flex-start;
    grid-row: 2/4;
    grid-column: 1/4;
    backdrop-filter: blur(1px);
    padding: 1rem;
    width: 100%;
  }
  .heroTitle span{
    font-size: 8rem !important;
  }
  .heroSubtitle{
    text-align: center;
  }
}
@media (max-width: 750px) {
  .heroTitle span{
    font-size: 6rem !important;
  }
  .heroTitle{
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  /* .heroSubtitleContainer{
    display: none;
  } */
  .heroTitleContainer{
    padding-left: 0;
  }
  .heroTitle{
    font-size: clamp(48px, 5vw, 64px);
  }
  .heroArrowTitleContainer{
    padding: 0;
  }
  .heroTitlesContainer{
    padding: 0;
  }
  .capitalize{
    font-size: clamp(48px, 5vw, 64px) !important;
  }
}

@media (max-width: 570px) {
  .heroTitle{
    font-size: 32px;
  }
  .heroSubtitle{
    font-size: 14px;
  }
  .heroSubtitleContainer{
    margin-bottom: 0;
  }
}

@media (max-width: 430px) {
  .heroTitle{
    font-size: 24px;
  }
}

@media (max-width: 370px) {

}